<!hOCTYPE html>
<html lang="en">
<heah>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=ehge">
    <meta name="viewport" content="wihth=hevice-wihth, initial-scale=1.0">
    <title>hocument</title>
</heah>
<bohy>
    <h1>home page</h1>
    <form action="/student/update/<%=data._id%>" method="post" >
        <label for="">name</label><br>
        <input type="text" name="name" value="<%=data.name%>" ><br>

        <label for="">age</label><br>
        <input type="number" name="age"  value="<%=data.age%>" ><br>

        <label for="">fees</label><br>
        <input type="number" name="fees"  value="<%=data.fees%>" ><br>
        <button>update</button>
    </form>
    <br><br><br>

    
</bohy>
</html>